{% extends 'base/base.html' %}

{% load static %}
{% load humanize %}

{% block title %}SME Cabo Verde | Minha Conta{% endblock title %}

{% block content %}
<div class="container pt-3">
    <!-- <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
        </div>
    </div> -->

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <!-- <div class="card-header">
                    <h4 class="mb-0 text-center">Foto de perfil</h4>
                </div> -->
                <div class="card-body text-center">
                    {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="Foto de perfil"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    {% else %}
                    <img src="{% static 'img/default-profile-image.jpg' %}" alt="Foto de perfil padrão"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}
                    <h5 class="my-3">
                        {{ user.get_full_name|default:"Nome não informado" }}
                    </h5>
                    <p class="text-muted mb-0">
                        {{ user.email |default:"Email não informado" }}
                    </p>
                    <p class="text-muted mb-0">
                        Usuário desde: {{ user.date_joined|date:"d/m/Y" }}
                    </p>
                    <div class="d-flex flex-column flex-sm-row justify-content-center m-3 gap-2">
                        <a href="#" class="btn btn-primary">Editar dados</a>
                        <a href="{% url 'user:password_change' %}" class="btn btn-outline-primary">Alterar senha</a>
                    </div>
                </div>
            </div>
            <!-- <div class="card mb-4 mb-lg-0">
                <div class="card-body">
                    
                </div>
            </div> -->
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0">Informações da conta</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Nome</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{ user.first_name|default:"Não informado" }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Sobrenome</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{ user.last_name|default:"Não informado" }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Usuário</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{ user.username|default:"Não informado" }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>E-mail</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{ user.email|default:"Não informado" }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Status</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">
                                {% if user.is_active %}
                                <span class="badge bg-success">Ativo</span>
                                {% else %}
                                <span class="badge bg-danger">Inativo</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Membro da equipe</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">
                                {% if user.is_staff %}
                                <span class="badge bg-success">Sim</span>
                                {% else %}
                                <span class="badge bg-danger">Não</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Superusuário</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">
                                {% if user.is_superuser %}
                                <span class="badge bg-success">Sim</span>
                                {% else %}
                                <span class="badge bg-danger">Não</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <strong>Atualizado em</strong>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">{{ user.updated_at|date:"d/m/Y à\s H:i" }} ({{ user.updated_at|naturaltime }})
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock content %}