{% extends 'base/base-auth.html' %}

{% load crispy_forms_tags %}

{% block title %}SME Cabo Verde | Erro na ativação{% endblock title %}

{% block content %}
<h2>Erro na ativação!</h2>
<p>O link de ativação é inválido ou já foi utilizado. Por favor, verifique o seu e-mail para obter o link correto ou entre em contato com o suporte.</p>
<p>Se você não recebeu o e-mail de ativação, verifique sua caixa de spam ou lixo eletrônico.</p>
<p>Se você ainda não recebeu o e-mail, clique no botão abaixo para reenviar o e-mail de ativação.</p>
<a href="#" class="btn btn-primary w-100">Reenviar e-mail de ativação</a>
<a href="{% url 'user:login' %}" class="btn btn-secondary w-100 mt-2">Voltar para o login</a>
{% endblock content %}