{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block title %}SME Cabo Verde | Redefinir senha{% endblock title %}

{% block content-auth %}
<div class="container mt-5">
    <h2>Redefinir senha</h2>
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Alterar senha</button>
    </form>
    {% else %}
    <div class="alert alert-danger">
        O link de redefinição de senha é inválido ou expirou.
    </div>
    {% endif %}
</div>
{% endblock content-auth %}